<div id="itemsSidebar">
    <div class="items-sidebar__top">
        <div id="modules-types">
            <button id="modulesButton" class="module-type-button">Модули</button>
            <button id="stationsButton" class="module-type-button">Станции</button>
        </div>

    </div>
    <ul id="modulesList" class="itemsList">
        <li class="itemsList__item"><button>Модуль</button></li>
        <li class="itemsList__item"><button>Модуль</button></li>
        <li class="itemsList__item"><button>Модуль</button></li>
    </ul>

    <ul id="stationsList" class="itemsList" style="display: none;">
        <li class="itemsList__item"><button>Станции</button></li>
        <li class="itemsList__item"><button>Станции</button></li>
        <li class="itemsList__item"><button>Станции</button></li>
    </ul>
</div>