#navbar {
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    padding: 8px;
    margin: auto 8px;
    margin-top: 16px;
    border-radius: var(--border-radius);
    background: var(--bg);
    box-shadow: var(--shadow);
}